boto3==1.9.132
botocore==1.12.132
certifi==2019.3.9
chardet==3.0.4
docutils==0.14
idna==2.8
jmespath==0.9.4
python-dateutil==2.8.0
requests==2.21.0
s3transfer==0.2.0
six==1.12.0
-e git+git@github.com:amjad2000in/talkback-lambda-test.git@8779ea4273e351f345c662c41b306be75fa91187#egg=talkback&subdirectory=tbproject
urllib3==1.24.2
